<footer class="page-footer brown lighten-3">
  <div class="container">
    <div class="row">
      <div class="col l4 s4">
        <h5 class="white-text">CONCTACT</h5>
        <ul>
          <li><a class="grey-text text-darken-3" href="#!">Email: kleosmetic@gmail.com</a></li>
          <li><a class="grey-text text-darken-3" href="#!">Sede: via pontano 58 </a></li>
          <li><a class="grey-text text-darken-3" href="#!">80077 ischia (NA) </a></li>
          <li><a class="grey-text text-darken-3" href="#!">numero 081 90 ....</a></li>
        </ul>
      </div>
      <div class="col l4 s4">
        <h5 class="white-text">INFORMAZIONI</h5>
        <ul>
          <li><a class="grey-text text-darken-3" href="#!">About</a></li>
          <li><a class="grey-text text-darken-3" href="#!">Spedizioni</a></li>
          <li><a class="grey-text text-darken-3" href="#!">Pagamento</a></li>
          <li><a class="grey-text text-darken-3" href="#!">Privacy e cookie policy</a></li>
        </ul>
      </div>
      <div class="col l4 offset-4 s4">
        <h5 class="brown-text">FIND US ON</h5>
        <ul>
          <li><a class="grey-text text-darken-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-darken-3" href="#!">Instagram</a></li>
          <li><a class="grey-text text-darken-3" href="#!">Pinterest</a></li>
          <li><a class="grey-text text-darken-3" href="#!">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Kleosmetic
    <a class="grey-text text-darken-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>